.info-box .progress .progress-bar-aqua, .info-box .progress .progress-bar-info {
  background-color: #00c0ef;
}
.info-box .progress .progress-bar-green, .info-box .progress .progress-bar-success {
  background-color: #00a65a;
}
.info-box .progress .progress-bar-light-blue, .info-box .progress .progress-bar-primary {
  background-color: #3c8dbc;
}
.info-box .progress .progress-bar-red, .info-box .progress .progress-bar-danger {
  background-color: #dd4b39;
}
.info-box .progress .progress-bar-yellow, .info-box .progress .progress-bar-warning {
  background-color: #f39c12;
}

.box.loading .overlay {
  display: block;
}
.box.collapsed-box .overlay .fa {
  font-size: 30px;
}
.box .overlay {
  display: none;
}
.box .overlay .fa {
  font-size: 60px;
  color: #888888;
}
.box .box-header {
  min-height: 33px;
}
.box .box-body {
  overflow-x: hidden;
}
.box .box-footer ul.pagination {
  margin: 0;
}

.callout .callout-icon {
  font-size: 35px;
  text-align: center;
}
