@import "compass";

$info:  #00c0ef;
$success: #00a65a;
$primary: #3c8dbc;
$danger: #dd4b39;
$warning: #f39c12;
$lightGrey: #888888;

.info-box {
  .progress {
    .progress-bar-aqua, .progress-bar-info {
      background-color: $info;
    }
    .progress-bar-green, .progress-bar-success {
      background-color: $success;
    }
    .progress-bar-light-blue, .progress-bar-primary {
      background-color: $primary;
    }
    .progress-bar-red, .progress-bar-danger {
      background-color: $danger;
    }
    .progress-bar-yellow, .progress-bar-warning {
      background-color: $warning;
    }
  }
}

.box {
  &.loading .overlay {
    display: block;
  }
  &.collapsed-box .overlay .fa {
    font-size: 30px;
  }
  .overlay {
    display:none;
    .fa {
      font-size: 60px;
      color: $lightGrey;
    }
  }
  .box-header {
    min-height: 33px;
  }
  .box-body {
    overflow-x: hidden;
    .table-responsive {
      table.table {
        margin-bottom: 0;
      }
    }
  }
  .box-footer {
    ul.pagination {
      margin:0;
    }
  }
}


div.callout {
  clear: both;
  &.callout-with-icon {
    .callout-icon {
      width: 5%;
      float:left;
      text-align: center;
      font-size: 36px;
      line-height: 120%;
    }
    .callout-content {
      width: 95%;
      float:left;
      .callout-title {
        margin: 0!important;
      }
    }
  }
}


ul.sidebar-menu {
  li > a small.label {
    margin-right: 0;
  }

  li.treeview > a small.label {
    margin-right: 20px;
  }
}

